*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}

body{
    background-color: #f5f5dc;
    /*
    
    #-->hx F5 F5 DC

    F5--> (15*16)+5 = 245 R
    F5--> (15*16)+5 = 245 G
    DC--> (13*16)+12=220 B

    rgb(245,245,220)

    */

    
}

button{
    background-color: blue;
    border-radius: 20px;
    padding: 10px ;
}

button:hover{
    background-color: orange;
    cursor: pointer;
}

.rojo{
    color: red;
}

#bold{
    font-size: 30px;
    font-weight: bold;
    /*font-family: Arial, Helvetica, sans-serif;*/
    /*profe casi no se nota el bold con el tamano y las letras en cursive pero si funciona*/
}



